@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root{
  --color-main: #333333;
  --color-links: #2D9CDB;
  --font-menu: 1rem; /* 16px (24px)*/
  --font--sections: 2rem;
  --font-links: .9rem;
}

html{
  scroll-behavior: smooth;
}

body{
  position: relative;
}

.containerHeader{
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: 3rem;
}


.containerHeader header{
  padding: 20px 5% 40px;
}

.containerHeader header.active{
  background: #fff;
}


.containerHeader header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

header h1{
  color: #333333;
  font-family: 'Heebo', sans-serif;
  font-size: 2rem;
  font-weight: 800;
}

header i{
  display: none;
  opacity: 0;
  visibility: hidden;
}

header ul{
  display: flex;
  gap: 30px;
}

header ul li{
  display: inline-flex;
}

header ul li a{
  color: var(--color-main);
  font-size: var(--font-menu);
  font-weight: 500;
}

section{
  padding: 0px 5%;
  margin-bottom: 6rem;
  min-height: 100vh;
}

section .gridHome{
  position: relative;
  display: grid;
  grid-template-rows: 150px 500px 1fr;
  row-gap: 10px;
}

section .gridHome .itemHomeHead{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15%;
  max-width: 900px;
}

section .gridHome .itemHomeHead a{
  color: var(--color-links);
  font-size: var(--font-links);
  font-weight: 500;
}

section .gridHome .itemHomeHead span{
  color: var(--color-main);
  font-size: var(--font--sections);
  font-weight: 500;
}

section .gridHome .boxImgHome{
  position: relative;
  max-width: 100%;
  height: auto;
}

section .gridHome .boxImgHome img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

section .gridHome .storyHome{
  position: relative;
  padding: 20px 15%;
  max-width: 900px;
}

section .gridHome .storyHome h2{
  color: var(--color-main);
  font-size: var(--font--sections);
  font-weight: 500;
  margin-bottom: 2rem;
}

section .gridHome .storyHome p{
  color: #4F4F4F;
  font-size: .9rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

section .gridHome .storyHome span{
  color: #828282;
  font-size: .8rem;
  font-weight: 500;
}

section .gridHome .storyHome form .boxEmail{
  position: relative;
  display: flex;
}

section .gridHome .storyHome form input{
  position: relative;
  outline: none;
  border: none;
  background: #F2F2F2;
  border-radius: 12px;
  padding: 10px 90px 10px 20px;
  width: 100%;
}

section .gridHome .storyHome form button{
  position: absolute;
  top: 5px;
  right: 10px;
  outline: none;
  border: none;
  color: #ffffff;
  background: var(--color-links);
  padding: 5px 20px;
  border-radius: 12px;
  cursor: pointer;
}

section#Services{
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 0px 15%;
}

section#Services .boxTittleServices{
  display: flex;
  max-width: 400px;
  margin-bottom: 3rem
}

section#Services h2{
  color: var(--color-main);
  font-weight: 500;
  font-size: var(--font--sections);
}

section#Services .gridServices{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
  column-gap: 10px;
}

section#Services .gridServices .itemService{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  border-radius: 24px;
  transition: .40s all ease;
}

section#Services .gridServices .itemService:hover{
  transform: scale(1.01) translateY(-5px);
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.3);
  cursor: pointer;
}

section#Services .gridServices .itemService .iconService{
  max-width: 20px;
  background: #2D9CDB;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 15px 30px;
  border-radius: 16px;
  margin-bottom: 2rem;  
}

section#Services .gridServices .itemService:nth-child(2) .iconService{
  background: #27AE60;
}


section#Services .gridServices .itemService:nth-child(3) .iconService{
  background: #EB5757;
}

section#Services .gridServices .itemService .iconService i{
  color: #fff;
  font-size: 2rem;
}

section#Services .gridServices .itemService span{
  color: var(--color-main);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

section#Services .gridServices .itemService p{
  color: #4F4F4F;
  font-size: var(--font-menu);
  font-weight: 400;
  margin-bottom: 2rem;
}

section#Services .gridServices .itemService .linkService{
  display: flex;
}

section#Services .gridServices .itemService a{
  color: #828282;
  font-size: var(--font-links);
  font-weight: 500;
  padding: 10px 20px;
  background: #E0E0E0;
  border-radius: 12px;
  transition: .40s all ease;
}

section#Services .gridServices .itemService:hover a{
  background: var(--color-links);
  color: #fff;
}

section#OurWorks{
  position: relative;
  padding: 0px 15%;
}

section#OurWorks .boxTittleOurWork{
  display: flex;
  max-width: 400px;
  margin-bottom: 3rem
}

section#OurWorks h2{
  color: var(--color-main);
  font-weight: 500;
  font-size: var(--font--sections);
}

section#OurWorks .gridOurWorks{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: minmax(700px, 1fr);
  gap: 20px;
}

section#OurWorks .gridOurWorks .itemWork{
  position: relative;
  width: 100%;
  height: 100%;
}

section#OurWorks .gridOurWorks .itemWork .boxImgWork{
  position: absolute;
  width: 100%;
  height: 90%;
}

section#OurWorks .gridOurWorks .itemWork .contentWork{
  position: absolute;
  bottom: 0;
}

section#OurWorks .gridOurWorks .itemWork .boxImgWork img{
  position: absolute;
  width: 100%;
  height:100%;
  border-radius: 12px;
}


section#OurWorks .gridOurWorks .itemWork:nth-child(odd){
  top: 20%;
} 


section#OurWorks .gridOurWorks .itemWork span{
  display: block;
}

section#OurWorks .gridOurWorks .itemWork span:nth-child(2){
  font-size: .7rem;
  font-weight: 300;
  color: #828282;
}

section#OurWorks .gridOurWorks .itemWork span:nth-child(3){
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
} 

section#OurWorks .seeMoreWork{
  position: absolute;
  right: 20%;
  bottom: 0;
  display: grid;
  grid-template-columns: 90% 10%;
  justify-content:center;
  align-items: center;
}

section#OurWorks .seeMoreWork a {
  color: var(--color-links);
  font-size: 1.2rem;
  font-weight: 500;
}

section#OurWorks .seeMoreWork i{
  font-size: 1.2rem;
  color: var(--color-links);
}


section#Clients{
  position: relative;
  padding: 60px 15% 0px;
}

section#Clients .gridClients{
  position: relative;
  top: 20%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(2,1fr);
  /* column-gap: 50px; */
  align-items: center;
}

section#Clients .gridClients .boxTittleClients{
  max-width: 300px;
}

section#Clients .gridClients .boxTittleClients span{
  color: #EB5757;
  font-weight: 500;
  font-size: .8rem;
}
section#Clients .gridClients .boxTittleClients h2{
  color: var(--color-main);
  font-weight: 500;
  font-size: var(--font--sections);
  margin: 1rem 0;
}


section#Clients .gridClients .boxTittleClients p{
  color: #4F4F4F;
  font-size: var(--font-links);
  font-weight: 400;
}

section#Clients .gridClients .photosClients{
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  column-gap: 40px;
}

section#Clients .gridClients .photosClients img{
  width: 200px;
  height: 200px;
  border-radius: 24px;
}

section#Clients .gridClients .photosClients .boxImgClients{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  row-gap: 15px;
}

section#Clients .messageEdiClients{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  gap: 20px;
}

section#Clients .messageEdiClients p{
  color: #333333;
  font-size: 1.5rem;
  font-weight: 500;
}

section#Clients .messageEdiClients .userComment{
  display: grid;
  grid-template-columns: 13% 87%;
  column-gap: 10px;
}

section#Clients .messageEdiClients .userComment img{
  width: 70px;
  height: 70px;
}

section#Clients .messageEdiClients .userComment .contentUser{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

section#Clients .messageEdiClients .userComment .contentUser span:nth-child(1){
  color: #333333;
  font-weight: 500;
  font-size: 1.1rem;
}

section#Clients .messageEdiClients .userComment .contentUser span:nth-child(2){
  color: #828282;
  font-weight: 500;
  font-size: .8rem;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 400px;
  grid-template-rows: 1fr;
  background: #100E1D;
  padding: 30px;
}

footer .footerMenuHeader{
  position: relative;
}

footer .footerMenuHeader ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

footer .footerMenuHeader ul li{
  position: relative;
  display: flex;
}

footer .footerMenuHeader ul li::before{
  content:"";
  position: absolute;
  left: 0;
  bottom: 0;
  width:0%;
  height: 2px;
  background: var(--color-links);
  transition: 1s all ease;
}

footer .footerMenuHeader ul li:hover::before{
  width:100%;
}

footer .footerMenuHeader ul li a{
  color: #fff;
  font-weight: 400;
}

footer .socialNeetworks{
 display: flex;
 flex-direction: column;
}

footer .socialNeetworks h2{
  font-family: 'Heebo', sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}

footer .socialNeetworks ul{
  display: inline-flex;
  gap: 10px;
}

footer .socialNeetworks ul li{
  position: relative;
  display: flex;
}

footer .socialNeetworks ul li::before{
  content:"";
  position: absolute;
  left: 0;
  bottom: 0;
  width:0%;
  height: 2px;
  background: var(--color-links);
  transition: 1s all ease;
}


footer .socialNeetworks ul li:hover::before{
  width:100%;
}

footer .socialNeetworks ul li a{
  font-size: 1.8rem;
}


footer .socialNeetworks ul li a i{
  color: #fff;
}

footer .footerContact span{
  color: #fff;
  font-size: .9rem;
  font-weight: 500;
}

footer .footerContact form .boxEmail{
  position: relative;
  display: flex;
  margin: 10px 0;
}

footer .footerContact form input{
  position: relative;
  outline: none;
  border: none;
  background: #F2F2F2;
  border-radius: 12px;
  padding: 10px 90px 10px 20px;
  width: 100%;
}

footer .footerContact form button{
  position: absolute;
  top: 5px;
  right: 10px;
  outline: none;
  border: none;
  color: #ffffff;
  background: var(--color-links);
  padding: 5px 20px;
  border-radius: 12px;
  cursor: pointer;
}


footer .creator{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-top: 3rem;
  grid-column: span 3;
}

footer .creator p{
  color: #cfcfcf;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0;
}

footer .creator p span{
  position: relative;
}

footer .creator p span a{
  color: #BDBDBD;
  transition: 2s all ease;
}

footer .creator p span a{
  cursor: pointer;
}

footer .creator p span::before{
  content:"";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--color-links);
  transition: 1s all ease;
}

footer .creator p span:hover::before{
  content:"";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--color-links);
}

footer .creator p span:hover a{
  color: var(--color-links);
}



@media (max-width: 1650px){

  section#Services {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  


  section#OurWorks .gridOurWorks .itemWork .boxImgWork img{
    object-fit: cover;
  }

  section#Clients .messageEdiClients {
    position: absolute;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    gap: 20px;
  }


} 


@media (max-width: 1500px){
  section#OurWorks .gridOurWorks .itemWork:nth-child(odd) {
    top: 0;
  }

  section#Clients .gridClients .photosClients img {
    width: 180px;
    height: 180px;
  }
} 

@media (max-width: 1400px){
  section {
    margin-bottom: 0;
  }

  section#Clients .gridClients .photosClients img {
    width: 160px;
    height: 160px;
    border-radius: 24px;
  }
} 

@media (max-width: 1200px){

  section#Clients .gridClients .photosClients img {
    width: 140px;
    height: 140px;
    border-radius: 24px;
  }
} 

@media (max-width: 1000px){

  section#Services {
    padding: 0px 1%;
  }

  section#OurWorks {
    padding: 0px 1%;
    margin-bottom: 4rem;
  }

  section#Clients {
    padding: 0px 1%;
  }

  section#Contact {
    padding: 0px 1%;
  }

  header i{
    display: block;
    opacity: 1;
    visibility: visible;
    font-size: 2rem;
    z-index: 9999;
    cursor: pointer;
  }
  
  header nav{
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  header nav.active{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #fff;
    opacity: 1;
    visibility: visible;
  }

  header nav.active ul{
    flex-direction: column;
  }


  section#Clients .gridClients .boxTittleClients {
    max-width: 100%;
  }

  section#Clients .gridClients {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  section#Clients .messageEdiClients {
    bottom: 0%;
    max-width: 400px;
    margin-bottom: 1rem;
  }

  section#Clients .messageEdiClients p {
    color: #333333;
    font-size: .7rem;
    font-weight: 500;
  }

  section#Clients .messageEdiClients .userComment img {
    width: 50px;
    height: 50px;
  }

}

@media (max-width: 900px){

  section#Clients .gridClients .photosClients img {
    width: 130px;
    height: 130px;
    border-radius: 24px;
  }

} 

@media (max-width: 800px){

  section#Clients .gridClients .photosClients img {
    width: 120px;
    height: 120px;
    border-radius: 24px;
  }


  footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  footer .socialNeetworks {
    align-items: center;
  }

  .footerContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

} 

